node_modules/

dist/
test/*/deployment/
test/*/javasource/
test/*/resources/
test/*/theme/
test/*/userlib/
test/*/widgets/
test/*/.classpath
test/*/.project
test/*/*.launch
test/*/*.lock
test/*/*.bak

.idea/
.vscode/
.editorconfig
*DS_Store*
