node_modules/

dist/
test/*/deployment/
test/*/javasource/
test/*/javascriptsource/
test/*/resources/
test/mx-6/theme/
test/mx-7/theme/
test/*/userlib/
test/mx-6/widgets/
test/mx-7/widgets/
test/*/widgets/BootstrapTooltip.mpk
test/*/.classpath
test/*/.project
test/*/*.launch
test/*/*.lock
test/*/*.bak

.idea/
.vscode/
.editorconfig
*DS_Store*
