node_modules/

dist/
test/*/deployment/
test/*/javasource/
test/*/javascriptsource/
test/*/resources/
test/mx-6/theme/
test/mx-7/theme/
test/mx-8/theme/styles/native
test/mx-8/theme/styles/web/sass
test/mx-8/theme/README.md
test/mx-8/theme/styles.js
test/*/userlib/
test/*/widgets/
test/*/.classpath
test/*/.project
test/*/*.launch
test/*/*.lock
test/*/*.bak

.idea/
.vscode/
.editorconfig
*DS_Store*
